:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --gris:#cfcfcf;
    --primario: #142850;
    --primario_claro:#3282B8;
    --primario_oscuro: #0F4C75;
    --secundario: #4A1100;
    --secundario_claro: #b6e495;
    --terciario: #D6EFC7;
    --cuarto: #DAE1E7;
    --eliminar: #4b1735;
    --guardar: #00623c;
    --editar: #623d00;
}

* {
    text-decoration: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; /* 1rem = 10px */
    text-decoration: none;
    background-color: var(--cuarto);
}

.caja_img_fondo img{
    position: fixed;
    top: 50px;
    left: 3.5vw;
    width: 93vw;
    height: 100vh;
    z-index: -1000;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
    object-fit: cover;
}