{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NutriSoft{% endblock title %}</title>

    <link rel="preload" href={% static "css/normalize.css" %} as="style">
    <link rel="stylesheet" href={% static "css/normalize.css" %}>
    <link rel="preload" href={% static "css/styles.css" %} as="style">
    <link href={% static "css/styles.css" %} rel="stylesheet">

</head>

<body>
      
    <div id="sidebar">
      <div class="toggle-btn">
        <span>&#9776</span>
      </div>
      <ul>
        <li>
          <img src={% static "img/logo.png" %} alt="Logo NutriSoft" class="logo">
        </li>
        <li class="catalogs"><a onclick="location.href='{% url 'pacientes:inicio' %}'" class="disable-select">Inicio</a></li>
        <li class="catalogs"><a onclick="location.href='{% url 'pacientes:lista_pacientes' %}'" class="disable-select">Pacientes</a></li>
        <li class="catalogs"><a onclick="location.href='{% url 'pacientes:registro_pacientes' %}'" class="disable-select">Registrar</a></li>
        <li class="catalogs"><a href="#" class="disable-select">Cálculos</a></li>
        <li class="catalogs"><a href="#" class="disable-select">Mis Dietas</a></li>
        <li class="catalogs"><a href="#" class="disable-select">Salir</a></li>
      </ul>
    </div>

    <script src={% static "js/main.js" %}></script>

    {% block cuerpo %} {% endblock cuerpo %}
    
    <div class="caja_img_fondo">
        <img src= {% static 'img/nutrisoft.png' %} class="img_fondo">
    </div>

    <footer>
        <p>© eNusystem 2022 | Software de Nutrición. Todos los Derechos Reservados.</p>
    </footer>

  </body>