{% extends 'base.html' %}
{% load static %}

{% block title %} Lista de Pacientes | NutriSoft {% endblock title %}

{% block cuerpo %}

<div class="titulo_pagina">
    <h1>Lista de Pacientes</h1>
</div>

<div>
    <form method="GET">
        <div>
            <input type="text" placeholder="Buscar Paciente" name="paciente_buscado">
            <input type="submit" value="Buscar">
        </div>
    </form>
</div>

<div>
    <form method="POST">{% csrf_token %}
        <div>
            <input type="button" value="Agregar Nuevo" onclick="location.href='{% url 'pacientes:registro_pacientes' %}'">
            <input type="submit" value="Eliminar" onclick="location.href='{% url 'pacientes:lista_pacientes' %}'">
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Sexo</th>
                        <th>Fecha Nacimiento</th>
                        <th>Escolaridad</th>
                        <th>Tipo Sangre</th>
                        <th>Estado Civil</th>
                    </tr>
                </thead>
                {% for paciente in lista_pacientes %}
                    <tbody>
                        <tr>
                            <td><input type="checkbox" name="pacientes_marcados" value="{{ paciente.id }}"></td>
                            <td>{{ paciente.codigo }}</td>
                            <td>{{ paciente.nombre }}</td>
                            <td>{{ paciente.email }}</td>
                            <td>{{ paciente.sexo }}</td>
                            <td>{{ paciente.fecha_nacimiento }}</td>
                            <td>{{ paciente.escolaridad }}</td>
                            <td>{{ paciente.tipo_sangre }}</td>
                            <td>{{ paciente.estado_civil }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </form>
</div>

{% endblock cuerpo %}